main {
  color: #665544;
  background-color: #d4d0c6;
  font-family: "Arial bold", serif;
  text-align: center;
  float: center;
  width: 95%;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  padding-bottom: 20px;
}

#img-div {
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 10px;
  padding-top: 60px;
  background-color: #ffffff;
}

#image {
  float: center;
  width: 95%;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

#tribute-info {
  padding-bottom: 40px;
  padding-top: 40px;
}
#title {
  padding-top: 30px;
}
h1 {
  font-weight: bold;
  font-size: 300%;
}
#timeline {
  text-align: center;
  float: both;
  min-width: 400px;
  max-width: 33.3%;
  margin: auto;
}
li {
  text-align: justify;
  line-height: 2em;
}
ul {
  text-align: center;
}
#img-caption {
  font-weight: 200;
}
